.embla {
  max-width: 90%;
  margin: auto;
  --slide-width: 1300px;
  --slide-height: auto;
  --slide-spacing: 5rem;
  --slide-size: 20%;
  overflow-y: auto;
  overflow-x: hidden;
}
.embla-certificate {
  --slide-width: 500px !important;
  --slide-height: 400px !important;
  --slide-spacing: 2.5rem !important;
  --slide-size: 16% !important;
}
/*.embla__viewport {
   overflow: hidden; 
} */
.embla__container {
  margin-top: 5vh;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 calc(var(--slide-size) * 1.8);
  padding-left: calc(var(--slide-spacing) * 1);
}
.embla__slide__number {
  width: var(--slide-width);
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
  .certificate {
    border-radius: 1.8rem;
    img {
      height: 400px;
      width: 600px;
      object-fit: fill;
    }
  }
}

/* Medium screens (max-width: 1200px) */
@media (max-width: 1600px) {
  .embla {
    --slide-width: 1000px;
  }
  .embla-certificate {
    --slide-width: 1200px;
  }
}

/* Small screens (max-width: 900px) */
@media (max-width: 900px) {
  .embla {
    --slide-width: 700px;
  }
  .embla-certificate {
    --slide-width: 1000px;
  }
}

/* Extra small screens (max-width: 600px) */
@media (max-width: 600px) {
  .embla {
    --slide-width: 500px;
  }
  .embla-certificate {
    --slide-width: 800px;
  }
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__play {
  opacity: 0;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  color: var(--text-body);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  min-width: 8.4rem;
}
.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  /* background-color: var(--background-site) !important; */
  background-color: aliceblue !important;
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  /* background-color: var(--text-body) !important; */
  background-color: blueviolet;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}
.embla__controls {
  grid-template-columns: auto 1fr auto;
}
.embla__progress {
  justify-self: center;
  transition: opacity 0.3s ease-in-out;
  width: 8rem;
}
.embla__progress--hidden {
  opacity: 0;
}
.embla__progress__bar {
  animation-name: autoplay-progress;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.embla__progress--hidden .embla__progress__bar {
  animation-play-state: paused;
}
@keyframes autoplay-progress {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
